.App {
  font-family: sans-serif;
  text-align: center;
}
#light {
  background-color: #fff;
}
#dark {
  background-color: #1b1c1d;
}
.radio-toggle {
  display: flex;
  width: 100vw;
  height: 100px;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}